doctype html
html(lang="en")
	head
		title= meta.title
		meta(name="description" content= meta.description)

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,shrink-to-fit=no")

		//- font awesome
		//- script(src='https://use.fontawesome.com/c19f3b1749.js')

		//- typekit
		script(src='https://use.typekit.net/aqa8bip.js')
		script.
			try{Typekit.load({ async: true });}catch(e){}

		link(href="assets/css/main.css", rel="stylesheet")

	body(ng-cloak)
		.content-main
			block content

		.svg(style='display: none; background: red;')
			include ../../dist/assets/svg/all.svg

		-var env = 'development'

		if env !== 'production'
			script(src='/jspm-packages/system.js')
			script(src='/config.js')
			script(src='/assets/js/main.js')

			script.
				SystemJS.import('/dev/client/main.js')

		else
			script(src='/assets/js/main.js')